body,
html {
    height: 100%
}

.bgimg {
    /* Background image */
    background-image: url('https://images.unsplash.com/photo-1496920930210-7901b362598c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ad8f02e6cc86fe68d11ce49aab943bdb&auto=format&fit=crop&w=1950&q=80');
    /* Full-screen */
    height: 100%;
    /* Center the background image */
    background-position: center;
    /* Scale and zoom in the image */
    background-size: cover;
    /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
    position: relative;
    /* Add a white text color to all elements inside the .bgimg container */
    color: white;
    /* Add a font */
    font-family: "Courier New", Courier, monospace;
    /* Set the font-size to 25 pixels */
    font-size: 30px;
}

@media(min-width: 1280 px){
    #demo{
        font-size: 30px !important;
        font-weight: 900;
    }    
}
@media(min-width: 360 px){

    #demo{
        font-size: 25px !important;
        font-weight: 900;
    }
}   
/* Position text in the top-left corner */

.topleft {
    position: absolute;
    top: 0;
    left: 16px;
}

/* Position text in the bottom-left corner */

.bottomleft {
    position: absolute;
    bottom: 0;
    left: 16px;
}

/* Position text in the middle */

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* Style the <hr> element */

hr {
    margin: auto;
    width: 40%;
}
