/* JUMBROTRON/ HEADER IMAGE CSS PART IS HERE */
.jumbotron{
	background: url("bghead.jpg")
	opacity: 0.7;
	min-height: 600px;
    	min-width: 100%;
	background-size: cover;	
}
	
#jumbo-header{
	margin-top: 15%;
	font-weight: 400;
}

#jumbo-content{
	font-weight: 200;
}

#title-head{
	font-size: 4em;
	font-weight: 700;
	color: #000000;
	text-align: center;
	margin-top: 15%;
	font-family: sans-serif;
}

#content-head{
	font-size: 1.5em;
	font-weight: 500;
	color: #000000;
	text-align: center;
	font-family: sans-serif;
}

/* NAVBAR TITLE */
#logo{
	font-weight: 700;
}

/* SOCIAL SITES ICON AND HORIZONTAL LINE */
#mid{
	width: 30%;
}

.fa-facebook, .fa-instagram, .fa-google{
	font-size: 35px;
	text-decoration: none;
	color: #000000
}

.fa-facebook, .fa-instagram, .fa-google, a:hover{
	color: #000000;
}

.social{
	text-align: center;
	padding-top: 10px;
}

hr.style1{
	border-top: 1px solid #8c8b8b;
}


.col{
	/* Over ridden bootstrap column class */
	text-align: center;	 
}

/* BIOPAGE - ABOUTS */
.image-sizing{
	width: 250px;
	height: auto;
	border-radius: 8%;
	opacity: 0.8;
	margin-bottom: 5%;
}

#bio-container{
	margin-top: 3%;
}

.bio-head{
	text-align: left;
	font-weight: 500;
	padding-left: 10px;
}

.bio-content{
	text-align: left;
	font-weight: 300;
	padding-left: 10px;
}

.fade-border{
	border-left: 1px solid #eee;
	border-bottom: 1px solid #eee; 
}

hr.style2{
	margin-top: -1%;
	width: 250px;
	float: left;
}

#showcv{
	margin-bottom: 2%;
	margin-top: 2%;
}

#bar{
	padding-top: 18px;
}
