/* JUMBROTRON/ HEADER IMAGE CSS PART IS HERE */
.jumbotron{
	background-image: url(https://images.unsplash.com/photo-1474929743204-8f756140cb14?ixlib=rb-0.3.5&s=5b4230dbee7850a51df6e79922bf56c4&auto=format&fit=crop&w=1050&q=80);
	opacity: 0.7;
	min-height: 600px;
    min-width: 100%;
	background-size: cover;	
}
	
#jumbo-header{
	margin-top: 15%;
	font-weight: 400;
}

#jumbo-content{
	font-weight: 200;
}

.title-head{
	font-size: 4em;
	font-weight: 700;
	color: #000000;
	text-align: center;
	margin-top: 15%;
	font-family: sans-serif;
	opacity: 1;
}

.content-head{
	font-size: 1.5em;
	font-weight: 500;
	color: #000000;
	text-align: center;
	font-family: sans-serif;
}

/* NAVBAR CSS ALL HERE */
#logo{
	font-weight: 700;
	font-size: 25px;
}
.nav-item{
	font-size: 15px;
}

.navbar {
	min-height: 28px;
	font-size: 15px;
}
  
.navbar-brand {
	padding: 0 15px;
	height: 75px;
	line-height: 75px;
}
  
.navbar-toggle {
	/* (80px - button height 34px) / 2 = 23px */
	margin-top: 20px;
	padding: 9px 10px !important;
}

@media (min-width: 768px) {
	.navbar{
		font-size:1.1em;
	}
	.navbar-nav > li > a {
	  /* (80px - line-height of 27px) / 2 = 26.5px */
	  padding-top: 22px;
	  padding-bottom: 22px;
	  line-height: 30px;
	  font-size: 1.3em;
	}
}

.navbar-toggler{
	 font-size: 40px;
}
 
#logo{
	font-weight: 700;
	font-size: 25px;
}



/* SOCIAL SITES ICON AND HORIZONTAL LINE */
#mid{
	width: 30%;
}

.fa-facebook, .fa-instagram, .fa-google{
	font-size: 35px;
	text-decoration: none;
	color: #000000
}

.fa-facebook, .fa-instagram, .fa-google, a:hover{
	color: #000000;
}

.social{
	text-align: center;
	padding-top: 10px;
}

hr.style1{
	border-top: 1px solid #8c8b8b;
}


.col{
	/* Over ridden bootstrap column class */
	text-align: center;	 
}

/* BIOPAGE - ABOUTS */
.image-sizing{
	width: 250px;
	height: auto;
	border-radius: 8%;
	opacity: 0.8;
	margin-bottom: 5%;
}

#bio-container{
	margin-top: 3%;
}

.bio-head{
	text-align: left;
	font-weight: 500;
	padding-left: 10px;
}

.bio-content{
	text-align: left;
	font-weight: 300;
	padding-left: 10px;
}

.fade-border{
	border-left: 1px solid #eee;
	border-bottom: 1px solid #eee; 
}

hr.style2{
	margin-top: -1%;
	width: 250px;
	float: left;
}

#showcv{
	margin-bottom: 2%;
	margin-top: 2%;
}

#bar{
	padding-top: 18px;
}

/* INDEX PAGE CONTENT CSS */

.flat-color{
	background-color: #f7f3f3;
	width: 100%;
	height: 500px;
	margin-bottom: 10px;
	padding-bottom: 5px;
}

#first-block{
	margin-top: -22px;
}
